<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>LOGIN</title>
  </head>

  <body>

    <div class="container">
      {% if form.errors %}
      <h6>Należy wprowadzić poprawne dane.</h6>
      {% endif %}

      {% if next %}
      <h6>Strona dostępna po zalogowaniu.</h6>
      {% endif %}

      <br>
      <h4>Prosimy o zalogowanie się:</h4>
      <br>
      <form action = "{% url 'login' %}" method = "POST">
        {% csrf_token %}
        <table class='table' style="max-width: 25rem;">
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success">Zaloguj</button>
        <input type="hidden" name="next" value="{{ next }}">
      </form>

    </div>
  </body>
</html>
